@import '../../../variables';

.sunshine-btn {
    padding: 10px 20px;
    margin: 3px;
    background-color: $primary-color;
    color: $white;
    min-width: 130px;
    border-radius: 3px;
    border: 0px;

    &:hover {
        background-color: $secondary-color;
    }
}

.btn-disabled {
    background-color: $gray;
    color: $light-blue;

    &:hover {
        background-color: $gray;
    }
}