@import '../../../variables';

.sunshine-footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 40px;
    margin-top: -40px;

    .sunshine-footer__title {
        font-size: $font-normal;
    }

    .sunshine-footer__text {
        font-size: $font-small;

        a {
            color: $black;
        }
    }
}