@import '../../../variables';

@media only screen and (max-width: $default-moblie) {
    .sunshine-landing-page__content {
        background-color: #d4e3fc;
        margin: 3vh 2vw 10vh 2vw;
        padding: 0px 0px 10px 0px;
    }

    h1, p {
        padding: 10px 20px 10px 20px;
    }

    .sunshine-input-text {
        position: relative;
        width: 100%;
    }

    .sunshine-select {
        width: 25%;
    }
}