@import '../../../variables';

.sunshine-landing-page__content {
    background-color: #d4e3fc;
    margin: 7vh 5vw 10vh 5vw;
    padding: 0px 20px 20px 20px;
    border: 1px solid gray;
    border-radius: 4px;
}