// Colors
$primary-color: #0D3E99;
$secondary-color: #5B92F6;
$light-blue: #aec7ef;
$black: #121e33;
$white: #f2f7ff;
$gray: #a9b6ec;

// Fonts
$font-large: 3em;
$font-medium: 1.4em;
$font-normal: 1.0em;
$font-small: 0.8em;